button[mat-raised-button],
button[mat-flat-button] {
  min-width: 120px;
  background-color: var(--bsa-accent);
  color: var(--bsa-background-light);
}

button[mat-stroked-button] {
  min-width: 120px;
  background-color: var(--bsa-background-light);
  color: var(--bsa-accent);
  border-color: var(--bsa-accent) !important;
}

.input-wrapper ::placeholder {
  font-size: smaller;
}

mat-drawer-container {
  height: 100%;
  mat-drawer {
    width: 840px;
  }
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
  }
  &.mat-drawer-container {
    background-color: transparent;
  }
}

a {
  outline: none;
}

.table-wrapper {
  table {
    width: 100%;
    margin-top: 20px;
    .mat-row,
    .mat-header-row {
      height: auto;
    }
    th.mat-header-cell {
      padding: 0;
      font-weight: bold;
      &:first-of-type {
        padding-left: 12px;
        padding-bottom: 4px;
        button[mat-icon-button]:not([disabled]) {
          color: white;
          background-color: var(--bsa-alert);
          border-radius: 4px;
        }
      }
      &:last-of-type {
        text-align: center;
      }
    }
    tr.mat-row.cdk-row {
      transition: all 0.2s ease-in-out;
      td.mat-cell {
        padding: 0;
        font-size: smaller;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 0px;
        &:first-of-type {
          padding-left: 24px;
          width: 60px;
        }
      }
      .cdk-column-actions.mat-column-actions {
        width: 120px;
        padding: 0 20px;
        color: #d7d7d7;
        text-align: center;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.04);
        .cdk-column-actions.mat-column-actions {
          color: initial;
        }
      }
    }
  }
}

.input-wrapper {
  position: relative;
  margin: 40px 0 20px;
  input {
    height: 37px;
    width: 100%;
    padding: 2px 12px 0;
    background-color: #efefef;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:nth-of-type(2) {
      width: calc(100% - 120px);
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  textarea {
    width: 100%;
    padding: 12px;
    background-color: #efefef;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    outline: none;
    resize: none;
  }
  label {
    font-size: smaller;
    font-weight: bold;
    position: absolute;
    top: -20px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    font-weight: normal;
  }
}

mat-dialog-actions.mat-dialog-actions {
  padding-bottom: 20px;
}

.bsa-component-wrapper {
  padding: 16px;
  .heading {
    font-weight: bold;
    margin-top: 16px;
  }
}

form.bsa-form {
  margin-top: 40px;
  max-width: 400px;
  .action-buttons {
    position: sticky;
    bottom: 0;
    padding: 20px 0;
    background: white;
    button:not(:last-child) {
      margin-right: 20px;
    }
  }
}

/* to remove mat input underline*/
::ng-deep .mat-form-field-underline {
  display: none !important;
}
/* to align mat input*/
.mat-input-element{
  vertical-align: super !important;
  margin-bottom:10px;
}

.d-form-input>.mat-form-field-wrapper>.mat-form-field-flex{
    padding: 11px 16px 6px 16px !important;
    background-color: #F1F2F5;
    border-radius: 4px;
}

.d-form-select>.mat-form-field-wrapper>.mat-form-field-flex{
  padding: 11px 16px 6px 16px !important;
  border-radius: 2px;
  border: 0.5px solid #CDCED9;
}
